.container-general {
  display: flex;
  .menu {
    z-index: 1;
    @media (max-width: 600px) {
      position: fixed;
    }
  }
  .container-tasks {
    width: 100vw;
    min-height: 100vh;
    padding: 50px;
    .line {
      width: 90%;
      height: 4px;
      background-color: black;
      border-radius: 50%;
      margin: 15px auto;
    }
    .radios {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      div {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        input {
          cursor: pointer;
        }
      }
    }
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .header-right {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        .button-delete {
          cursor: pointer;
          color: blue;
        }
      }
    }
    .tasks {
      display: flex;
      flex-direction: column;
      gap: 10px;
      .zero-tasks {
        margin: 10px 0;
      }
    }
    .task {
      display: flex;
      gap: 10px;
      .task-item {
        flex-wrap: wrap;
        display: flex;
        gap: 10px;
        p {
          font-size: 18px;
          font-weight: 500;
        }
        .gray-item {
          color: gray;
        }
      }
    }
    .Concluída {
      filter: grayscale(0.9);
      p {
        text-decoration: line-through;
      }
    }
    .Vencida {
      color: red;
      input {
        border: 1px solid red;
        width: 13px;
        height: 13px;
        border-radius: 2.5px;
        -moz-appearance: none;
        -webkit-appearance: none;
        -o-appearance: none;
      }
    }
    .task-more {
      color: blue;
      padding: 20px;
      cursor: pointer;
    }
  }
}
